<div class="flex justify-center  sm:my-40 sm:mr-10 md:my-0">
  <div class="  flex flex-row  w-3/4 shadow-md rounded-md border-2 mt-3">
    <div class="w-3/5   hidden md:flex xl:flex  flex-col items-center text-center pt-10  ">
      <img
        class=""
        ngSrc="/assets/images/logoT150.png"
        height="225"
        width="150"
        alt="logoHandicap" />

      <p class="  font-bold text-2xl mb-3">Pourquoi s'inscrire ? </p>
      <p class=" text-lg ml-14">Votre inscription vous permettra d'echanger avec des personnes en situation de handicap ou
        simplement une situation de vie difficile, mais aussi avec des professionels de santé qui peuvent éventuellement vous aider </p>
    </div>
    <form class=" md:w-2/5 xl:w-2/5 flex flex-col space-y-7  justify-center items-center   p-5  "
          [formGroup]="formGroup"
          (ngSubmit)="onSubmit()">

      <!-- Choix du Type -->
      <select  id="typeSelect" class="inputSignup p-2  text-bleubleubleu" formControlName="type" >
        <option value="">&#45;&#45;Vous êtes un &#45;&#45;</option>
        <option value="Professionel">Professionel</option>
        <option value="Particulier">Particulier</option>
      </select>


      <input type="text" formControlName="prenom" class="inputSignup placeholder:text-bleubleubleu text-lg p-2 "   placeholder="Prenom" [class.is-invalid]="isInvalidAndTouchedOrDirty(formGroup.controls.prenom)" required>
      <small class="" *ngIf="isInvalidAndTouchedOrDirty(formGroup.controls.prenom)">
        Le prénom est requis </small>

      <input type="text" formControlName="nom" class="inputSignup placeholder:text-bleubleubleu  text-lg p-2 " placeholder="Nom" [class.is-invalid]="isInvalidAndTouchedOrDirty(formGroup.controls.nom)" required>
      <small class="" *ngIf="isInvalidAndTouchedOrDirty(formGroup.controls.nom)"> Le nom est requis </small>

      <input type="email" formControlName="email" class="inputSignup
           placeholder:text-bleubleubleu text-lg p-2  "
             placeholder="Email"
             [class.is-invalid]="isInvalidAndTouchedOrDirty(formGroup.controls.email)" required>
      <small class=""
             *ngIf="formGroup.controls.email.errors?.['required'] && isTouchedOrDirty(formGroup.controls.email)">
        L'email est requis </small>
      <small class=""
             *ngIf="formGroup.controls.email.errors?.['email'] && isTouchedOrDirty(formGroup.controls.email)"> L'email n'est pas valide
      </small>

      <input type="password"  (input)=checkPassword(passwordControl) id="password"
             (focus) = "passwordFocused = true"
             (blur) ="passwordFocused = false"
             formControlName="password"
             class=" inputSignup placeholder:text-bleubleubleu   text-lg p-2 "
             [class.is-invalid]="isInvalidAndTouchedOrDirty(passwordControl)" placeholder="Mot de passe">
      <small *ngIf=" passwordControl.errors?.['required'] && isTouchedOrDirty(passwordControl)" >
        Le mot de passe est requis
      </small>
      <small class="text-center" *ngIf=" passwordControl.errors?.['minlength'] && isTouchedOrDirty(passwordControl)">
        Le mot de passe doit contenir 8 caractères
      </small>

      <!-- Confirmation mot de passe -->
      <input type="password"
             name="motPasse2" id="motPasse2" formControlName="password2" class=" inputSignup placeholder:text-bleubleubleu text-lg p-2" placeholder="Confirmez le Mot de passe"
             [class.is-invalid]="isInvalidAndTouchedOrDirty(password2Control)">

      <small
        class=" text-center"
        *ngIf="
             isInvalidAndTouchedOrDirty(password2Control)
             && !isOnlySpace(password2Control)">
        Le 2nd mot de passe est requis </small>

      <small class=" text-center" *ngIf=" isTouchedOrDirty(password2Control) && isOnlySpace(password2Control)"> Le mot de passe ne peut contenir que des espaces</small>

      <!-- password2Control check variable et password2Control.value check valeur (ni null ni non défini) , trim check s'il n ya pas que des espaces ou juste vide-->
      <small class=" text-center" *ngIf=" formGroup?.errors?.['mismatch'] && isTouchedOrDirty(password2Control)"> Les mots de passes doivent être identiques</small>

      <div *ngIf="passwordFocused" class=" flex flex-col  space-y-4  mt-7 items-center text-rouge text-base">
        <small #minuscule > au moins une minuscule</small>
        <small #majuscule > au moins une majuscule</small>
        <small #chiffre> au moins un chiffre </small>
        <small #speciaux> au moins un des caracteres speciaux ! : / ; . , ?</small>
      </div>
      <btnValiderFormulaire [formGroup]="formGroup"></btnValiderFormulaire>

      <!--      &lt;!&ndash;
            getRawValue nonNullable

            regex ^(?=.*[A-Z])

            (?=.*[a-z])
            (?=.*\d)
            (?=.*[!:\/;.,?])
            [A-Za-z\d!:\/;.,?]{8,}$




            &ndash;&gt;-->

       </form>
     </div>
  </div>




