<div class="hidden md:block xl:block ">
<div class="flex flex-col space-y-8 justify-center items-center border-2 ">
  @for (profil of profils; track profil) {
    <app-profil class="w-3/5" [profil]="profil"></app-profil>
    <app-date-picker></app-date-picker>
  }
</div>

</div>
<div class=" block md:hidden xl:hidden border-2 border-red-500 h-80">
<div class="flex overflow-x-auto snap-x snap-mandatory space-x-4 h-full">
  <div class="flex-none w-screen bg-blue-300 rounded-md flex items-center justify-center snap-center">
    <app-profil [profil]="profils[0]"></app-profil>
    <app-date-picker></app-date-picker>
  </div>
  <div class="flex-none w-screen   bg-pink-400 rounded-md flex items-center justify-center snap-center">
    <app-profil [profil]="profils[1]"></app-profil>
    <app-date-picker></app-date-picker>
  </div>
  <div class="flex-none w-screen  bg-red-300 rounded-md flex items-center justify-center snap-center">
    <app-profil [profil]="profils[2]"></app-profil>
    <app-date-picker></app-date-picker>
  </div>
</div>
</div>
