<div class="relative">
  <button
    (click)="toggleCalendar()"
    class="bg-green hover:bg-bleucanard text-white px-2 py-2 rounded-md flex items-center space-x-2 transition-colors">
    <span>Prendre rendez vous</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
    </svg>
  </button>

  <div class="absolute mt-2 z-10">
    <app-calendar
      [isVisible]="isCalendarVisible"
      [selectedDate]="selectedDate"
      (dateSelected)="onDateSelected($event)">
    </app-calendar>
  </div>
</div>
