<div class="flex justify-center">
<div class=" w-4/5 border-2 shadow-md mt-5 ">
  <div class="flex flex-row  space-x-5 my-5 mx-5 ">
    <div class="w-2/4 flex flex-col">
      <img alt="photo de profil" ngSrc="https://i.pinimg.com/474x/65/b8/1c/65b81ccd7f0727061620bf40d40dc100.jpg" width="160" height="200">
      <div class="flex flex-row space-x-2 mt-4 w-full ">
        <div class=" text-xs md:text-base xl:text-base text-bleucanard">Suivre</div>
        <div class=" text-xs md:text-base xl:text-base underline text-bleucanard  hover:text-rouge "> <a> Demander un contact </a></div>
      </div>
    </div>

    <div class="flex flex-col space-y-4 w-2/4 h-1/2">
      <div class="text-sm md:text-xl xl:text-xl text-bleucanard">{{prenom}} {{nom}}</div>
      <div class="text-sm md:text-xl xl:text-xl text-bleucanard">{{specialite}}</div>
      <div class="text-sm md:text-base xl:text-base text-bleucanard"> {{description}} </div>
    </div>

  </div>
</div>
</div>
